*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("images/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg {
   color: red;
}
.bg3 {
    background-color: burlywood; 
    width: 88%;
    height: 90%;
    position: relative;
    left: 10%; 
} 
.bg5 {
    color: blue;
}
.text1 {
    font-size: 75px;
    text-align: center;
}
.btn1 {
    margin-top: -0.01rem;
    height: 60px;
    width: 30%;
    background-color: rgba(123,38,26, 1);
    border: 1px solid rgba(255, 255, 255, 0.111);
}
.nav a {
    color: white;
    font-size: 21px;
    font-weight: 600;
}
.bg2 {
    background-color: rgba(73, 9 , 9 , 1);
    height: 100%;
}
.justify-content-center {
    justify-content: center !important;
}
.img-fluid {
    width: 100%;   
    float: right;
    margin-right: 29%;
}
.bt2 {
    background-color: rgba(73, 9, 9, 0.913);
}
.bt5 {
    background-color: burlywood; 
}
.color {
    background-color:  rgba(49, 25, 25, 1);
}